# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/compiler.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_8_5.xml
.idea/libraries/Maven__com_googlecode_concurrentlinkedhashmap_concurrentlinkedhashmap_lru_1_3_2.xml
.idea/libraries/Maven__log4j_log4j_1_2_17.xml
.idea/libraries/Maven__net_sf_extjwnl_extjwnl_1_8_0.xml
.idea/libraries/Maven__net_sf_extjwnl_extjwnl_data_wn31_1_2.xml
.idea/libraries/Maven__org_apache_commons_commons_compress_1_18.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_8_1.xml
.idea/libraries/Maven__org_apache_commons_commons_text_1_6.xml
.idea/libraries/Maven__org_apache_lucene_lucene_analyzers_common_8_1_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_core_8_1_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_memory_8_1_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_queries_8_1_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_queryparser_8_1_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_sandbox_8_1_1.xml
.idea/libraries/Maven__org_jsoup_jsoup_1_11_3.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_7.xml
.idea/libraries/Maven__org_slf4j_slf4j_log4j12_1_7_7.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
lucene4ir.iml
.idea/compiler.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_8_5.xml
.idea/libraries/Maven__com_googlecode_concurrentlinkedhashmap_concurrentlinkedhashmap_lru_1_3_2.xml
.idea/libraries/Maven__log4j_log4j_1_2_17.xml
.idea/libraries/Maven__net_sf_extjwnl_extjwnl_1_8_0.xml
.idea/libraries/Maven__net_sf_extjwnl_extjwnl_data_wn31_1_2.xml
.idea/libraries/Maven__org_apache_commons_commons_compress_1_18.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_8_1.xml
.idea/libraries/Maven__org_apache_commons_commons_text_1_6.xml
.idea/libraries/Maven__org_apache_lucene_lucene_analyzers_common_8_1_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_core_8_1_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_memory_8_1_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_queries_8_1_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_queryparser_8_1_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_sandbox_8_1_1.xml
.idea/libraries/Maven__org_jsoup_jsoup_1_11_3.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_7.xml
.idea/libraries/Maven__org_slf4j_slf4j_log4j12_1_7_7.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
lucene4ir.iml
.idea/compiler.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_8_5.xml
.idea/libraries/Maven__com_googlecode_concurrentlinkedhashmap_concurrentlinkedhashmap_lru_1_3_2.xml
.idea/libraries/Maven__log4j_log4j_1_2_17.xml
.idea/libraries/Maven__net_sf_extjwnl_extjwnl_1_8_0.xml
.idea/libraries/Maven__net_sf_extjwnl_extjwnl_data_wn31_1_2.xml
.idea/libraries/Maven__org_apache_commons_commons_compress_1_18.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_8_1.xml
.idea/libraries/Maven__org_apache_commons_commons_text_1_6.xml
.idea/libraries/Maven__org_apache_lucene_lucene_analyzers_common_8_1_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_core_8_1_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_memory_8_1_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_queries_8_1_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_queryparser_8_1_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_sandbox_8_1_1.xml
.idea/libraries/Maven__org_jsoup_jsoup_1_11_3.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_7.xml
.idea/libraries/Maven__org_slf4j_slf4j_log4j12_1_7_7.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
lucene4ir.iml
src/Python Files/src/DummySrc/CopyC10.py
src/Python Files/src/DummySrc/CopyC10.py
src/Python Files/src/DummySrc/CopyC10.py
src/main/java/lucene4ir/Main.java
